body{
    background-color: black;
}

#container{
    background-color: rgb(24, 17, 17);
    width: 1000px;
    height: 100vh;
    justify-self: center;
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

#card{
    width: 300px;
    height: 480px;
    background-color: rgb(57, 48, 48);
    margin: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#box1>h1{
    text-align: center;
    color: white;
    margin-bottom: -10px;
}

#box1>p{
    text-align: center;
    color: chartreuse;
    margin-bottom: -10px;
}

#myimg{
    width:30%;
    border-radius: 50%;
    border-style: solid;
    border-color: antiquewhite;
    display: flex;
    justify-self: center;
    margin-top: 20px;
}


#para1main{
    color:antiquewhite;
    text-align: center;
}

#para1{
    color: antiquewhite;
    text-align: center;
    background-color: black;
    margin: 10px 20px 10px 20px;
    padding: 10px;
    border-radius: 10px;
}


#para2{
    color: antiquewhite;
    text-align: center;
    background-color: black;
    margin: 10px 20px 10px 20px;
    padding: 10px;
    border-radius: 10px;
}

#para3{
    color: antiquewhite;
    text-align: center;
    background-color: black;
    margin: 10px 20px 10px 20px;
    padding: 10px;
    border-radius: 10px;
}

#para4{
    color: antiquewhite;
    text-align: center;
    background-color: black;
    margin: 10px 20px 10px 20px;
    padding: 10px;
    border-radius: 10px;
}

#para5{
    color: antiquewhite;
    text-align: center;
    background-color: black;
    margin: 10px 20px 10px 20px;
    padding: 10px;
    border-radius: 10px;
}